
.smoke {
    animation: move-smoke 0.8s linear infinite;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    height: 1rem;
    left: 0;
    position: relative;
    top: -1.5rem;
    width: 0.8rem;
    z-index: -1;
}

.smoke-2 {
    animation-delay: 0.2s;
    left: 0.4rem;
}

.smoke-3 {
    animation-delay: 0.4s;
    left: 0.6rem;
}

.smoke-4 {
    left: 0.8rem;
}

@keyframes move-smoke {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    50% {
        filter: blur(0.2rem);
        opacity: 0.6;
        transform: translate(0, -3rem) scale(2);
    }
    100% {
        filter: blur(0.3rem);
        opacity: 0;
        transform: translate(2.5rem, -6rem) scale(3);
    }
}